* {
    box-sizing: border-box;
}

body {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header {
    background: linear-gradient(90deg, hsla(179, 67%, 66%, 1) 0%, hsla(238, 74%, 61%, 1) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header h1 {
    font-size: 3rem;
}

.breed {
    font-size: inherit;
    padding: 2px 5px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main-image {
    max-width: 100%;
    max-height: 80vh;
    display: none;
}

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

.loading-dog {
    animation: spin 1s infinite linear;
    font-size: 50px;
    display: none;
}

.show {
    display: block;
}


@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
    header h1{
        margin-top: 0;
    }
}